<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="style-about.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
    <div id="page" class="site page-home">

        <aside class="site-off desktop-hide">
            <div class="off-canvas">
                <div class="canvas-head flexitem">
                    <div class="logo"><a href="/"><span class="circle"></span>.D11Store</a></div>
                    <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
                </div>
                <div class="departments"></div>
                <nav></nav>
                <div class="thetop-nav"></div>
            </div>
        </aside>

        <header>
           

            <!-- header-top -->
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="/"><span class="circle"></span>.D11Store</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>

                                    <li class="has-child">
                                        <a href="#">Vendors
                                            <div class="icon-small"><i class="ri-arrow-down-s-line"></i></div>
                                        </a>
                                        <div class="mega">
                                            <div class="container">
                                                <div class="wrapper">
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Manufacturers</h4>
                                                            <ul>
                                                                <li><a href="#">Dresses</a></li>
                                                                <li><a href="#">Tops & Tees</a></li>
                                                                <li><a href="#">Jackets & Coats</a></li>
                                                                <li><a href="#">Pants & Capris</a></li>
                                                                <li><a href="#">Sweaters</a></li>
                                                                <li><a href="#">Costumes</a></li>
                                                                <li><a href="#">Hoodies & Sweatshirts</a></li>
                                                                <li><a href="#">Pijamas & Robes</a></li>
                                                                <li><a href="#">Shorts</a></li>
                                                                <li><a href="#">Swimwear</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Distributors</h4>
                                                            <ul>
                                                                <li><a href="#">Acessories</a></li>
                                                                <li><a href="#">Bags & Purses</a></li>
                                                                <li><a href="#">Necklaces</a></li>
                                                                <li><a href="#">Rings</a></li>
                                                                <li><a href="#">Earrings</a></li>
                                                                <li><a href="#">Bracelets</a></li>
                                                                <li><a href="#">Body Jewelry</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Wholesalers</h4>
                                                            <ul>
                                                                <li><a href="#">Bath Accessories</a></li>
                                                                <li><a href="#">Makeup & Cosmetics</a></li>
                                                                <li><a href="#">Skin Care</a></li>
                                                                <li><a href="#">Hair Care</a></li>
                                                                <li><a href="#">Essential Oils</a></li>
                                                                <li><a href="#">Fragances</a></li>
                                                                <li><a href="#">Soaps & Bath Bombs</a></li>
                                                                <li><a href="#">Face Masks & Coverings</a></li>
                                                                <li><a href="#">Spa Kits & Gifts</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="flexcol products">
                                                        <div class="row">
                                                            <div class="media">
                                                                <div class="thumbnail object-cover">
                                                                    <a href="#">
                                                                        <img src="assets/products/apparel4.jpg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="text-content">
                                                                <h4>Most wanted!</h4>
                                                                <a href="#" class="primary-button">Order Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="has-child">
                                        <a href="#">Categories
                                            <div class="icon-small"><i class="ri-arrow-down-s-line"></i></div>
                                        </a>
                                        <div class="mega">
                                            <div class="container">
                                                <div class="wrapper">
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Woman's Clothing</h4>
                                                            <ul>
                                                                <li><a href="#">Dresses</a></li>
                                                                <li><a href="#">Tops & Tees</a></li>
                                                                <li><a href="#">Jackets & Coats</a></li>
                                                                <li><a href="#">Pants & Capris</a></li>
                                                                <li><a href="#">Sweaters</a></li>
                                                                <li><a href="#">Costumes</a></li>
                                                                <li><a href="#">Hoodies & Sweatshirts</a></li>
                                                                <li><a href="#">Pijamas & Robes</a></li>
                                                                <li><a href="#">Shorts</a></li>
                                                                <li><a href="#">Swimwear</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Jewelry</h4>
                                                            <ul>
                                                                <li><a href="#">Acessories</a></li>
                                                                <li><a href="#">Bags & Purses</a></li>
                                                                <li><a href="#">Necklaces</a></li>
                                                                <li><a href="#">Rings</a></li>
                                                                <li><a href="#">Earrings</a></li>
                                                                <li><a href="#">Bracelets</a></li>
                                                                <li><a href="#">Body Jewelry</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Beauty</h4>
                                                            <ul>
                                                                <li><a href="#">Bath Accessories</a></li>
                                                                <li><a href="#">Makeup & Cosmetics</a></li>
                                                                <li><a href="#">Skin Care</a></li>
                                                                <li><a href="#">Hair Care</a></li>
                                                                <li><a href="#">Essential Oils</a></li>
                                                                <li><a href="#">Fragances</a></li>
                                                                <li><a href="#">Soaps & Bath Bombs</a></li>
                                                                <li><a href="#">Face Masks & Coverings</a></li>
                                                                <li><a href="#">Spa Kits & Gifts</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Top Brands</h4>
                                                            <ul class="women-brands">
                                                                <li><a href="#">Nike</a></li>
                                                                <li><a href="#">Louis Vuitton</a></li>
                                                                <li><a href="#">Hermes</a></li>
                                                                <li><a href="#">Gucci</a></li>
                                                                <li><a href="#">Zalando</a></li>
                                                                <li><a href="#">Tiffany & Co</a></li>
                                                                <li><a href="#">Zara</a></li>
                                                                <li><a href="#">H&M</a></li>
                                                                <li><a href="#">Cartier</a></li>
                                                                <li><a href="#">Chanel</a></li>
                                                                <li><a href="#">Hurley</a></li>
                                                            </ul>
                                                            <a href="#" class="view-all">View all brands<i class="ri-arrow-right-line"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol products">
                                                        <div class="row">
                                                            <div class="media">
                                                                <div class="thumbnail object-cover">
                                                                    <a href="#">
                                                                        <img src="assets/products/apparel4.jpg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="text-content">
                                                                <h4>Most wanted!</h4>
                                                                <a href="#" class="primary-button">Order Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </nav>
                        </div>
                        <div class="right">
                            <ul class="flexitem second-links">
                                <li class="mobile-hide"><a href="#">
                                    <li>My account </li>
                                    <div class="icon-large"><i class="ri-user-line"></i></div>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Fim do header-top -->
         
        <main>
            <!-- About us -->
            <section id="about-us" class="about-us">
                <div class="container">
                    <div class="full-width-title">
                        <div class="section-title">
                            <h2 class="about-us-titles">About Us</h2>
                        </div>
                    </div>
                    <div class="about-content">
                        <div class="how-it-started">
                            <h3>How it started</h3>
                            <p>We started with just a college project, but we decided to take it further by creating a website that facilitates communication, visualization, and the creation of both new and existing businesses.</p>
                        </div>
                            <section id="our-leadership" class="our-leadership">
                                <div class="container">
                                    <div class="section-title-our-leadership">
                                        <h2><span class="larger-text">Our</span><br><span class="smaller-text">Leadership</span></h2>
                                    </div>
                                    <div class="leadership-grid">
                                        <div class="leadership-card">
                                            <img src="assets/photos/Tiago_Sousa.jpg" alt="Tiago Sousa">
                                            <div class="info">
                                                <h4>Tiago Sousa</h4>
                                                <p>Co-founder & CEO</p>
                                                <a href="https://www.linkedin.com/in/eoinhinchy" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                            </div>
                                        </div>
                                        <div class="leadership-card">
                                            <img src="assets/photos/Rodrigo_Anjos.jpg" alt="Rodrigo Anjos">
                                            <div class="info">
                                                <h4>Rodrigo Anjos</h4>
                                                <p>Co-founder & COO</p>
                                                <a href="https://www.linkedin.com/in/rodrigo-anjos-5532a5196/" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                            </div>
                                        </div>
                                        <div class="leadership-card">
                                            <img src="assets/photos/Tiago_Lança.jpg" alt="Tiago Lança">
                                            <div class="info">
                                                <h4>Tiago Lança</h4>
                                                <p>Chief Revenue Officer</p>
                                                <a href="https://www.linkedin.com/in/colmlong" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                            </div>
                                        </div>
                                        <div class="leadership-card">
                                            <img src="assets/photos/Daniel_Martins.jpg" alt="Daniel Martins">
                                            <div class="info">
                                                <h4>Daniel Martins</h4>
                                                <p>Chief Revenue Officer</p>
                                                <a href="https://www.linkedin.com/in/colmlong" target="_blank"><i class="ri-linkedin-fill"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        <h3 id="clients-and-partners"class="clients-and-partners">Clients and Partners</h3>
                        <!-- brands -->
                        <div class="brands">
                            <div class="container">
                                <div class="wrapper flexitem">
                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/brands/zara.png" alt="">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/brands/samsung.png" alt="">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/brands/oppo.png" alt="">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/brands/asus.png" alt="">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/brands/hurley.png" alt="">
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a href="#">
                                            <img src="assets/brands/dng.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- FIM das brands -->
                    </div>
                </div>
            </section>
            <!-- Join Us -->
            <section id="join-us" class="join-us">
                <div class="container">
                    <div class="section-title-join-us">
                        <h2><span class="join-us-1">Join a</span></h2>
                        <h2><span class="join-us-2">world-class<br>team</span></h2>
                        <h3><span class="join-us-3">Creating new enterprises and making<br>it more acessible</span></h3>
                        <button class="join-us-button">Join Us</button>
                    </div>
                </div>
            </section>
            <section id="team-grid" class="team-grid">
                <div class="container">
                    <div class="grid-item">
                        <img src="assets/photos/office_1.jpg" alt="Team Image 1">
                    </div>
                    <div class="grid-item">
                        <img src="assets/photos/office_3.jpg" alt="Team Image 2">
                    </div>
                    <div class="grid-item">
                        <img src="assets/photos/office_2.jpg" alt="Team Image 3">
                    </div>
                </div>
            </section>
            <!-- Our Values -->
            <section id="our-values" class="our-values">
                <div class="container">
                    <div class="section-title-our-values">
                        <h2>Our Values</h2>
                    </div>
                    <div class="grid-our-values">
                        <div class="card connection"> <!-- Classe .connection aplicada aqui -->
                            <span class="icon-card">
                                <i class="ri-shake-hands-line"></i>
                            </span>
                            <h4>Connection</h4>
                            <p>Our focus is to make interactions between companies easy. We believe that efficient collaboration and communication are fundamental for success in the business environment. Therefore, we dedicate our efforts to creating solutions that simplify and enhance connections between our business partners, ensuring quick and effective information exchange.</p>
                        </div>
                        <div class="card visual"> <!-- Classe .visual aplicada aqui -->
                            <span class="icon-card">
                                <i class="ri-bar-chart-grouped-line"></i>
                            </span>
                            <h4>Visual</h4>
                            <p>We focus on enabling clients to visualize transactions through intuitive and detailed graphs. We understand that good data visualization is essential for informed decision-making. Our graphs provide a clear and comprehensible view of business activities, helping our clients monitor and analyze their operations effectively.</p>
                        </div>
                        <div class="card management"> <!-- Classe .management aplicada aqui -->
                            <span class="icon-card">
                                <i class="ri-archive-drawer-line"></i>
                            </span>
                            <h4>Management</h4>
                            <p>We facilitate product organization so they are easy to find. Our platform is designed to offer simplified and efficient inventory management, allowing our clients to quickly locate the products they need. We believe that good organization is crucial to optimizing processes and increasing productivity in daily operations.</p>
                        </div>
                    </div>
                </div>
            </section>      
        </main>
        <!-- Fim do main -->

        <!-- Footer -->
        <footer>
            <!-- newsletter -->
            <div class="newsletter">
                <div class="container">
                    <div class="wrapper">
                        <div class="box">
                            <div class="content">
                                <h3>Join Our Newsletter</h3>
                                <p>Get an E-mail about our latest online platform and <strong>special offers</strong></p>
                            </div>
                            <form action="" class="search">
                                <span class="icon-large"><i class="ri-mai-line"></i></span>
                                <input type="email" placeholder="Your email address" required>
                                <button type="submit">Sign up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim da newsletter -->

            <!-- widgets -->
            <div class="widgets">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Help & Support</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Help</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Shipping Rates</a></li>
                                        <li><a href="#">Assistant</a></li>
                                        <li><a href="#">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>User Account</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Login/Signin</a></li>
                                        <li><a href="#">Account Management</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Privacy and Security</a></li>
                                        <li><a href="#">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Payment Info</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Business Card</a></li>
                                        <li><a href="#">Payment Method</a></li>
                                        <li><a href="#">Credit Cards</a></li>   
                                        <li><a href="#">Transactions History</a></li>                                     
                                        <li><a href="#">Refund</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>D11 Store</h4>
                                    <ul class="flexcol">
                                        <li><a href="#about-us">About Us</a></li>
                                        <li><a href="#our-leadership">Our Leaders</a></li>
                                        <li><a href="#clients-and-partners">Clients and Partners</a></li>
                                        <li><a href="#join-us">Join Us</a></li>
                                        <li><a href="#our-values">Our Values</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim dos widgets -->

            
            <!-- footer info -->
            <div class="footer-info">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexcol">
                            <div class="logo">
                                <a href="#"><span class="circle"></span>.D11Store</a>
                            </div>
                            <div class="socials">
                                <ul class="flexitem">
                                    <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                    <li><a href="#"><i class="ri-facebook-line"></i></a></li>
                                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                    <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
                                    <li><a href="#"><i class="ri-youtube-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="mini-text">&copy; Copyright 2024 .D11Store. All right reserved.</p>
                    </div>
                </div>
            </div>
            <!-- Fim do footer info -->
        </footer>
        <!-- Fim do footer -->

        <!-- menu bottom fixed -->
        <div class="menu-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <nav>
                        <ul class="flexitem">
                            <li>
                                <a href="#">
                                    <i class="ri-bar-chart-line"></i>
                                    <span>Trending</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="ri-user-6-line"></i>
                                    <span>Account</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="ri-heart-line"></i>
                                    <span>Wishlist</span>
                                </a>
                            </li>

                            <li>
                                <a href="#0" class="t-search">
                                    <i class="ri-search-line"></i>
                                    <span>Search</span>
                                </a>
                            </li>

                            <li>
                                <a href="#0">
                                    <i class="ri-shopping-cart-line"></i>
                                    <span>Cart</span>
                                    <div class="fly-item">
                                        <span class="item-number">0</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Fim do mwnu bottom fixed -->
        <!-- search bottom -->
        <div class="search-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">

                    <form action="" class="search">
                        <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                        <span class="icon-large"><i class="ri-search-line"></i></span>
                        <input type="search" placeholder="Your email address" required>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fim do search bottom -->
        <div class="overlay"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
</body>
</html>